<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"crossorigin="anonymous">

/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 30px;
  height: 530px;
  width: 1200px;
  /* Force our height since we don't have actual content yet */
  top: 0%;
  background-color: red;
  background: radial-gradient(circle, rgba(11, 232, 129, 1) 0%, rgba(69, 84, 96, 1) 100%);
  color: slategray;
  position: absolute;
}

.sidenav {
  grid-area: sidenav;
  background-color: #ecf0f1;
}

.main {
  grid-area: main;
  background-color: #ecf0f1;
}

.footer {
  grid-area: footer;
  background-color: #ecf0f1;
}

.sidenav {
  display: flex;
  /* Will be hidden on mobile */
  flex-direction: column;
  grid-area: sidenav;
  background-color: #ecf0f1;
}

.well {
  margin-left: 480px;
  border-radius: 100%;
}

.profile {
  margin-left: 500px;
  border-radius: 100%;
  width: 200;
  height: 200;
}

.highlight {
  text-align: center;
  margin-left: 500px;
  border-radius: 100%;
}

.highlight {
  color: #ecf0f1;
  font-size: 20px;
}



hr {
  width: 100px;
}

.pad {
  padding-right: 50px;
}

.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #ddd;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  /* Side nav is hidden on mobile */
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

.sidenav {
  display: none;
  grid-area: sidenav;
  background-color: #ecf0f1;
}

.content {
  height: 100px;
  color: #ecf0f1;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {

  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 240px 1fr;
    /* Show the side nav for non-mobile screens */
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .sidenav {
    display: flex;
    flex-direction: column;
  }
}



/* The active class is toggled on hamburger and close icon clicks */
.sidenav.active {
  transform: translateX(0);
}